<h1>Tasks info</h1>

<%= link_to 'Edit this tasks', edit_task_path %>

<p>Detalhes: <%= @tasks.details %></p>

<%= link_to 'See all tasks', tasks_path %>

<%= link_to 'Delete', tasks_path(@task), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>

